#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  text-align: center;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Icon */
.icons {
  color: #ef8172;
  margin-bottom: 15px;
}

.icons:hover {
  color: #ff4c68;
}

/* feature */
#features {
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
}

/* testimonials sections */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
  font-family: "Ubuntu";
}

@media (max-width:991px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}

/* cta */
#cta {
  text-align: center;
  padding: 7% 15%;
  background-color: #ff4c68;
}

.title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}



.btn-Download{
  margin: 5% 3% 3% 0;
}

/* footer */
#footer{
  text-align: center;
  padding: 3% 15%;
}

.social-icon {
  margin: 20px 10px;
}
